mat-card {
    margin: 15px 30px;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

mat-card-header {
    display: flex;
    justify-content: center;
}


mat-card-content p {
    display: flex;
    justify-content: center;
    text-align: justify;
    word-break: break-all;
}

mat-card-content p:nth-child(1) {
    margin: 10px;
}

img {
    height: 280px;
    width: 100%;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.flex-wrap div:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.flex-wrap p {
    margin-bottom: 10px;
    justify-content: center;
    text-align: justify;
    display: flex;
}

.flex-wrap div:nth-child(2) {
    margin-bottom: 10px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.mat-card-title {
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    word-break: break-word;
    display: flex;
    margin-top: 16px;
}

.campanha-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-width:  370px;
    padding: 0;
}

.overall-card {
    border-radius: 7px;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
}

.addCampanhaButton{
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {

    img {
        min-width: 150px;
        min-height: 150px
    }

    mat-card {
        margin: 15px 10px;
    }

}