
form {
    max-height: 60vh;
}

.header-dialog {
    display: flex;
    justify-content: space-between;
}

.mb1 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
    .flex {
        flex-wrap: wrap;
    }
}