<mat-card class="overall-card">
    <button mat-mini-fab color="warn" class="addCampanhaButton" (click)="addInstituicao()">
        <mat-icon>add</mat-icon>
    </button>

    <div class="wrap justify-center">
        <mat-card class="campanha-card" *ngFor="let instituicao of instituicoes; let i = index">


            <div class="flex justify-between wd100">

                <p></p>

                <p class="title"> {{ instituicao.titulo }} </p>

                <mat-icon class="pointer" (click)="deleteInstituicao(i)">delete</mat-icon>

            </div>

            <div class="flex-wrap">
                <div>
                    <p>
                        {{ instituicao.descricao }}
                    </p>
                </div>

                <div>
                    <button mat-button (click)="editInstituicao(i)">Editar</button>
                </div>
            </div>
        </mat-card>
    </div>
</mat-card>