<div mat-dialog-title class="header-dialog">
  <p>{{ this.data ? 'Atualizar dados institucionais' : 'Adicionar dados institucionais' }}</p>
  <button mat-icon-button>
    <mat-icon (click)="dialogRef.close()">close</mat-icon>
  </button>
</div>

<form [formGroup]="instituicaoForm">
  <mat-form-field appearance="outline" color="warn">
    <mat-label>Titulo</mat-label>
    <input matInput placeholder="Digite o titulo" formControlName="titulo" focus required>
  </mat-form-field>

  <mat-form-field appearance="outline" color="warn">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Digite a descrição" formControlName="descricao" required></textarea>
  </mat-form-field>

  <button mat-raised-button (click)="addInstituicao()" [disabled]="instituicaoForm.invalid">{{ data ? 'Editar' :
    'Adicionar'}}</button>
</form>